<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('bundles/louvrebilletterie/css/pdf.css')) }}" >
    </head>

    <body>
        <h1>Votre réservation de billet(s) :</h1>
        <h3>Reservation n° {{ reservation.id }} pour le {{ reservation.dateReservation | date('d-m-Y') }}</h3>

        {% for billet in billets %}
            <div id="conteneur">
                <div id="logo">
                    <img id="img_logo" src="{{ absolute_url(asset('bundles/louvrebilletterie/image/louvre_logo.jpg')) }}">
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Validité</th>
                            <th>Nom</th>
                            <th>Tarif réduit</th>
                            <th>Montant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ reservation.dateReservation | date('d-m-Y') }}</td>
                            {% if billet.type == 'journee' %}
                                <td>Journée</td>
                            {% else %}
                                <td>Demi-Journée</td>
                            {% endif %}
                            <td>{{ billet.nom }} {{ billet.prenom }}</td>
                            {% if billet.reduit == 0 %}
                                <td>non</td>
                            {% else %}
                                <td>oui</td>
                            {% endif %}
                            <td>{{ billet.montant }} €</td>
                        </tr>
                    </tbody>
                </table>
                <div class="element" id="qrCode">
                    <img src="{{ absolute_url(qrcode_url(billet.id)) }}"/>
                </div>
            </div>
        {% endfor %}

    </body>
</html>




