{# src/Louvre/BilletterieBundle/Ressources/views/Billet/achat.html.twig #}

{% extends "::layout.html.twig" %}

{% block body %}
    <div class="container-fluid col-md-offset-2 col-md-8" id="corpsAchat">
        <ul class="nav nav-tabs" id="tab">
            <li class="nav col-md-3 active"><a href="#jour" id="ongletJour" data-toggle="tab">Jour de la visite</a></li>
            <li class="nav col-md-3"><a href="#billet" id="ongletBillet" data-toggle="tab">Vos billets</a></li>
            <li class="nav col-md-3"><a href="#paiement" id="ongletPaiement" data-toggle="tab">Paiement</a></li>
            <li class="nav col-md-3"><a href="#confirmation" id="ongletConfirmation" data-toggle="tab">Confirmation</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="jour">
                <br/>
                <label for="date">Date de la visite :</label>
                <div id="dateVisite" class="datepicker"></div><span class="alert-danger" id="erreurDate"></span>
            </div>

            <div class="tab-pane" id="billet">
                <br/>
                <h4 id="dateChoisie">Réservation pour le : <span class="date" id="dateV">{{ reservation.dateReservation | date('d-m-Y') }}</span> </h4>
                <div>
                    <div>
                        <div class="well container-fluid">
                            {{ form_start(form) }}
                            {{ form_widget(form.dateReservation) }}
                            <div id="Billets" data-prototype="{{ form_widget(form.billets.vars.prototype)|e }}" data-index="0">

                                {% for billet in form.billets %}
                                    <div class="billet">
                                        {{ form_row(billet.nom) }}
                                        {{ form_row(billet.prenom) }}
                                        {{ form_row(billet.pays) }}
                                        {{ form_row(billet.dateNaissance) }}
                                        {{ form_row(billet.type) }}
                                        {{ form_row(billet.reduit) }}
                                        <a class="btn btn-danger delete-billet btn-sm" href="#">Supprimer billet</a>
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="btn btn-primary add-billet btn-sm" href="#">Ajouter billet</a>
                            {{ form_widget(form.submit)}}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="paiement">

                <br/>
                <h4>Paiement :</h4>
                <br/>
                <div id="corpsPaiement" class="container-fluid col-md-12">
                    {% if (reservation.id is not null) %}
                        <form method="post" action="{{ path('louvre_payment_prepare',{'id' : reservation.id})}}">
                            <div id="choixPaiement" class="col-md-4">
                                <div class="form-inline row">
                                    <label for="email">Votre e-mail : </label>
                                    <input type="email" name="email_reservation" class="form-control" id="email" placeholder="Entrez votre E-mail">
                                    <span class="alert-danger" id="erreurEmail" hidden="hidden"> * Veuillez entrez un Email valide</span>
                                    <h4>Montant total à payer : <span id="montantTotal">{{ reservation.total }}</span></h4>
                                    <input id="btnPayer" class="payer pull-left" type="submit" value="PAYER">
                                </div>
                            </div>
                        </form>
                   {% endif %}
                    <div id="recapPaiement" class="col-md-8">
                        <div class="container-fluid" id="recapReservation">
                            <h4>Récapitulatif de votre réservation de billet(s) :</h4>
                            <table id="tableauRecapReservation">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        <th>Date de naissance</th>
                                        <th>Type de billet</th>
                                        <th>Tarif réduit</th>
                                        <th>Montant du billet</th>
                                        <th>Supprimer billet</th>
                                    </tr>
                                </thead>
                                <tbody id="ligneTableauRecap">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="confirmation">
                <br/>
                <h4>Merci !</h4>
                <h5>Votre réservation a bien été validée et vous recevrez vos billets à l'email suivant :</h5>
                <p id="email_envoi_billet">{{ reservation.email }}</p>
            </div>
        </div>
    </div>
{% endblock %}