{# src/Louvre/BilletterieBundle/Ressources/views/Billet/achat.html.twig #}

{% extends "::layout.html.twig" %}

{% block body %}
    <div class="container-fluid col-md-offset-2 col-md-8" id="corpsAchat">
        <ul class="nav nav-tabs" id="tab">
            <li class="nav col-md-4 active"><a href="#jour" id="ongletJour" data-toggle="tab">Jour de la visite</a></li>
            <li class="nav col-md-4"><a href="#billet" id="ongletBillet" data-toggle="tab">Vos billets</a></li>
            <li class="nav col-md-4"><a href="#paiement" data-toggle="tab">Paiement</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="jour">
                <br/>
                <label for="date">Date de la visite :</label>
                <div id="dateVisite" class="datepicker"></div><span class="alert-danger" id="erreurDate"></span>
            </div>

            <div class="tab-pane" id="billet">
                <br/>
                <h4 id="dateChoisie">Réservation pour le : <span class="date" id="dateV"></span> </h4>
                <div>
                    <div>
                        <div class="well container-fluid">
                            {{ form_start(form) }}
                            {{ form_row(form.dateVisite) }}
                            <div id="Billets" data-prototype="{{ form_widget(form.billets.vars.prototype)|e }}" data-index="0">
                                {% for billet in form.billets %}
                                    <div class="billet">
                                        {{ form_widget(billet) }}
                                        <a class="btn btn-danger delete-billet" href="#">Supprimer le billet billet</a>
                                    </div>
                                {% endfor %}
                            </div>

                            <a class="btn btn-primary add-billet" href="#">Ajouter un nouveau billet</a>
                            {{ form_end(form) }}
                            {{ form_widget(form.submit) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="paiement">
                <br/>
                <h4>Paiement :</h4>
                <br/>
                <div id="corpsPaiement" class="container-fluid col-md-12">
                    <div id="choixPaiement" class="col-md-6">
                        <div class="form-inline row">
                            <label for="email">Votre e-mail : </label>
                            <input type="email" class="form-control" id="email" placeholder="Entrez votre E-mail">
                            <span class="alert-danger" id="erreurEmail" hidden="hidden"> * Veuillez entrez un Email valide</span>
                        </div>
                        <br/><br/>
                        <div id="choixPaiement" class="row">
                            <label for="paiement">Payer avec STRIPE :</label>
                            <input id="nomServicePaiement" type="radio" checked="checked">
                        </div>
                        <br/><br/>
                        <input id="btnPayer" class="pull-left" type="submit" value="PAYER">
                    </div>
                    <div id="recapPaiement" class="col-md-6">
                        <h5>Récapitulatif de votre réservation de billet(s) :</h5>
                        <div id="recapReservation">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}