{# src/Louvre/BilletterieBundle/Ressources/views/Billet/achat.html.twig #}

{% extends "::layout.html.twig" %}

{% block body %}
    <div class="container-fluid col-md-offset-2 col-md-8" id="corpsAchat">
        <ul class="nav nav-tabs" id="tab">
            {% if form.vars.valid == false %}
                <li class="nav col-md-3 disabled" id="liJour"><a href="#jour" id="ongletJour" data-toggle="tab">Date de Réservation</a></li>
                <li class="nav col-md-3 active" id="liBillet"><a href="#billet" id="ongletBillet" data-toggle="tab">Choix des billets</a></li>
            {% else %}
                <li class="nav col-md-3 active" id="liJour"><a href="#jour" id="ongletJour" data-toggle="tab">Date de Réservation</a></li>
                <li class="nav col-md-3 disabled" id="liBillet"><a href="#billet" id="ongletBillet" data-toggle="tab">Choix des billets</a></li>
            {% endif %}
            <li class="nav col-md-3 disabled" id="liPaiement"><a href="#paiement" id="ongletPaiement" data-toggle="tab">Paiement</a></li>
            <li class="nav col-md-3 disabled" id="liConfirmation"><a href="#confirmation" id="ongletConfirmation" data-toggle="tab">Réservation validée</a></li>
        </ul>

        <div class="tab-content">
            {% if form.vars.valid == false %}
                <div class="tab-pane" id="jour">
            {% else %}
                <div class="tab-pane active" id="jour">
            {% endif %}
                <br/>
                <label for="date">Choisissez la date de votre réservation :</label>
                <div name ="datepicker" id="dateVisite" class="datepicker" ></div>
            </div>

            {% if form.vars.valid == false %}
                <div class="tab-pane active" id="billet">
            {% else %}
                <div class="tab-pane" id="billet">
            {% endif %}
                <br/>
                <h4 id="dateChoisie">Réservation de billet(s) pour le : <span class="date" id="dateV">{{ reservation.dateReservation | date('d-m-Y') }}</span> </h4>
                {{ form_errors(form.dateReservation, {'attr': {'class': 'alert-danger'}}) }}
                <div>
                    <div>
                        <div class="well container-fluid">
                            {{ form_start(form) }}
                            {{ form_widget(form.dateReservation) }}
                            <div id="Billets" data-prototype="{{ form_widget(form.billets.vars.prototype)|e }}" data-index="0">
                                {% for billet in form.billets %}
                                    <div class="billet">
                                        {{ form_row(billet.nom) }}
                                        {{ form_row(billet.prenom) }}
                                        {{ form_row(billet.pays) }}
                                        {{ form_row(billet.dateNaissance) }}
                                        {{ form_row(billet.type) }}
                                        {{ form_row(billet.reduit) }}
                                        <p class="alert-danger hidden horaire">Vous ne pouvez pas choisir un billet "Journée" après 14 H !</p>
                                        <p class="alert-danger hidden reduit">Un document validant l'accès au tarif réduit vous sera demandé à la présentation de votre billet !</p>
                                        <a class="btn btn-danger delete-billet btn-sm" href="#">Supprimez le billet</a>
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="btn btn-primary add-billet btn-sm" href="#">Ajoutez un billet</a>
                            <br/><br/>
                            <div class="row">
                                {{ form_row(form.email) }}
                            </div>
                            {{ form_widget(form.submit)}}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="paiement">
                <br/>
                <h4>Récapitulatif de votre réservation :</h4>
                <br/>
                <div id="corpsPaiement" class="container-fluid col-md-12">
                    <div id="recapPaiement" class="row">
                        <div class="container-fluid" id="recapReservation" style="overflow-x:auto;">
                            <table id="tableauRecapReservation">
                                <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Date de naissance</th>
                                    <th>Type</th>
                                    <th>Tarif réduit</th>
                                    <th>Montant en €</th>
                                </tr>
                                </thead>
                                <tbody id="ligneTableauRecap">
                                {% for billet in reservation.billets %}
                                    <tr>
                                        <td>{{ billet.id }}</td>
                                        <td>{{ billet.nom }}</td>
                                        <td>{{ billet.prenom }}</td>
                                        <td>{{ billet.dateNaissance | date('d-m-Y') }}</td>
                                        <td>
                                            {% if billet.type == "journee" %}
                                                Journée
                                            {% else %}
                                                Demi-journée
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if billet.reduit == 1 %}
                                                Oui
                                            {% else %}
                                                Non
                                            {% endif %}
                                        </td>
                                        <td>{{ billet.montant }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="validerPaiement" class="row">
                    {% if (reservation.id is not null) %}
                        <form method="post" action="{{ path('louvre_payment_prepare',{'id' : reservation.id})}}">
                            <h4>Montant total à payer : <span id="montantTotal"><strong>{{ reservation.total }} €</strong></span></h4>
                            <input type="submit" class="btn-primary" value="PAYEZ AVEC STRIPE">
                        </form>
                    {% endif %}
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="confirmation">
                <br/>
                <h4>Merci !</h4>
                <h5>Votre réservation a bien été validée et vous recevrez vos billets à l'email suivant :</h5>
                <br/><br/>
                <p id="email_envoi_billet"><strong>{{ reservation.email }}</strong></p>
            </div>
        </div>
    </div>
{% endblock %}